body{
	background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: 1360px 768px;
	background-repeat: no-repeat;
}
img{
	height: 250px;
	width: 250px;
	border-radius: 20%;
	box-shadow: 5px 10px 10px;
	color: #ffffb3;
	transition: all 0.5s;	
}
img:hover{
	transform: scale(1.2);
}
button {
  border-radius: 4px;
  background-color: #ffd1b3;
  border: groove;
  color: #801a00;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button:hover{
	background-color: #ffffb3;
	transform: scale(1.2);
	color: green;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover span {
  padding-right: 15px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
footer {
	background-color: #000000;
	color: white;
	font-size: 20px
}