body{
	background-image: url("https://cdn.pixabay.com/photo/2017/12/25/19/18/girl-3038974_960_720.jpg");
	background-size: cover;
}
table{
	border-color: #ff8080;
	border-style: dashed;
}
th{
	background-color: #ffe6b3;
	font-family: serif;
	font-size: 20px;
}
td{
	background-color: #b3d9ff;
}
button{
	font-family: serif;
	padding: 15px 20px;
	border-radius: 10px;
	background-color: #ff6600;
	cursor: pointer;
}
button:hover{
	background-color: #ffffb3;
	transform: scale(1.2);